/* all */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f0f0f0;
    min-height: 100vh;
}
ul{
    list-style: none;
}

/* header div */
header{
    background: linear-gradient(to bottom, rgb(170, 221, 255), #f0f0f0);
    padding-block: 1rem;
    text-align: center;
}

.logo img{
    max-height: 200px;
    padding: 2rem;
    justify-content: center;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-inline: 1rem;
    max-width: 900px;
    margin: 0 auto;
}

.nav-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
}

.btn-header {
    padding: 0.7rem 1.1rem;
    border-radius: .9rem;
    cursor: pointer;
    background-color: #ffffff;
    text-transform: uppercase;
    border: none;
    font-weight: bolder;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
}
.btn-header:hover {
    transform: scale(1.1);
}

.header-search{
    padding-top: 20px; 
}

#buscador{
    padding: 0.7rem 1.1rem;
    border-radius: .9rem;
    border: 1px solid grey;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
    width: 50%;
    max-width: 600px;
    vertical-align: bottom;
   
}
.btn-search{
    padding: 0.5rem;
    border-radius: .9rem;
    border: 1px solid grey;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
    vertical-align: bottom;
}


/* main */
main{
padding:2rem;
max-width: 1500px;
margin: 0 auto;
}

.pokemon-todos{
display: grid;
grid-template-columns: 1fr;
gap: 2rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1400px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.pokemon{
border-radius: 1rem;
background-color: #fff;
box-shadow: 0 0 0.15rem rgba(0,0,0,0.25);
padding-block: 1rem;
}

.pokemon-imagen{
    background: linear-gradient(to bottom, rgb(255, 247, 178), rgb(255, 255, 255));
    margin: 0 1rem;
    padding: 1rem;
    justify-content: center;
    display: flex;
}
.pokemon-imagen img{
    width: 100%;
    max-width: 8rem;
}
.pokemon-info{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}
.nombre-contenedor{  

}

.pokemon-nombre{
    font-size: 2rem;
    text-transform: capitalize;
}
.pokemon-id{
    border-radius: 1rem;
    background-color: #f5f5f5;
    color: #646464;
    gap: .5rem;
    font-size: 0.85rem;
    padding: 0.25rem 1rem;
}
.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: 0.85rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}
.tipo {
    padding: .25rem .9rem;
    border-radius: 100vmax;
}




/* Color de los botones según tipo */
.fire{
    background: #F08030;
}
.grass{
    background: #77C850;
}
.bug{
    background: #A8B821;
}
.ground{
    background: #E0C068;
}
.electric {
    background: #F8D030;
}
.poison {
    background: #A040A0;
}
.fighting {
    background: #C03028;
}
.psychic{
    background: #F85888;
}
.rock {
    background: #B8A038;
}
.ghost {
    background: #705898;
}
.steel{
    background: #B8B8D0;
}
.ice{
    background:#98D8D8;
}
.dark{
    background: #705848;
}
.fairy{
    background: #EE99AC;
}
.normal {
    background: #A8A878;
}
.dragon {
    background: #7038F8;
}
.flying {
    background: #A890F0;
}
.water{
    background:#74c0ff;
}