* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgba(153, 153, 153, 0.863);
    display: grid;
    place-items: center;

}


.container{
    background-color: rgb(109, 109, 109);
    color: white;
    display: grid;
    width: 400px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
   
}

#button{
    padding: 1rem;
    border-radius: .5rem;
    border-style: none;
    font-size: 1.2em;
    background-color: rgb(241, 171, 189);
    box-shadow: 0px 3px 5px rgb(74, 74, 90);
    text-transform:uppercase;
}

      
input, select{
    padding: 0.5rem;
     font-size: 1.1rem;
}
.result{
    font-size: 1.3rem;
    font-weight: bold;
}
